body {
	font-family: "Avenir Next", "Neue Haas Grotesk Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-image: url("../images/bg-crossword.png");
	background-repeat: repeat;
}

a {
	color: #008DFF;
}

a:hover {
	color: #3D4099;
	cursor: pointer;
}

#landing a {
	color: #141ACC;
}

#landing a:hover {
	color: #008DFF;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Avenir Next", "Neue Haas Grotesk Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	text-transform: lowercase;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.4em;
}

p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	line-height: 1.75em;
}

pre {
	font-size: 11px;
	background: none;
	border: none;
	padding: 0 0 0 20px;
}

.col-content {
	margin-top: 2.5em;
}

.col-content p:first-of-type, form {
	margin-top: 20px;
}

.col-title {
	margin-top: 2.5em;
	clear: left;
	text-align: right;
}

#landing {
	display: block;
	position: relative;
	background-size: cover;
	padding: 0;
	color: #f0f0f0;
}

#landing-canvas {
	position: absolute;
}

#site-title {
	top: 50%;
}

#logo {
	font-family: "Avenir Next", "Neue Haas Grotesk Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	text-transform: lowercase;
	padding: 0 10px;
}

footer {
	margin-top: 4em;
	margin-bottom: 4em;
	color: #909090;
}

footer p {
	margin: 0;
	line-height: 1.5em;
}

.sl-form {
	position: relative;
}

.sl-form label {
	font-style: normal;
	font-weight: normal;
}

.sl-form input {
	background: none !important;
	width: 100%;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom-color: #008DFF;
	border-bottom-width: 1px;
	margin-bottom: 1em;
}

.sl-form textarea {
	background: none !important;
	width: 100%;
	max-width: 700px;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom-color: #008DFF;
	border-bottom-width: 1px;
	margin-bottom: 1em;
}

.sl-form button {
	background: none !important;
	border: none;
	padding: 0!important;
	color: #008DFF;
	cursor: pointer;
	margin-bottom: 1em;
}

.sl-form button:hover {
	color: #3D4099;
	text-decoration: underline;
}


@media (max-width: 992px) {

/* Fix for vertical layout on small screens */
.col-title h2 {
	font-size: 2.5em;
	margin-top: 2em;
}

.col-title {
	text-align: left;
}

.col-content {
	margin-top: 1em;
}

.col-content p:first-of-type, form {
	margin-top: 0;
}

}
