/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
the following are added by Shuyang Li
first on January 8, 2014
*/

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
}

/*
Main Theme
*/

/*
main color: #B8333E
assistant color: #484E4B
*/

body {
	font-family: "AvenirNextLTProRegular", sans-serif;
	background-image: url(images/background.png);
}

#landing {
	width: 100%;
	height: 700px;
	float: none;
	overflow: hidden;
	color: #ffffff;
	background-image: url(images/shenzhen.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background: url(images/shenzhen.jpg) center 15% no-repeat fixed;*/
	display: table;
}

	#landingcontainer {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 100%;
		height: 95%;
	}

	#bigtitle {
		font: normal 7em/0.8em "AvenirNextLTProDemi", sans-serif;
		text-decoration: none;
		text-shadow: 0 0 50px rgba(255,255,255,0.7);
		text-align: center;
		margin-bottom: 20px;
	}

nav {
	text-align: center;
	font-size: 1.2em;
}

	nav a {
		text-decoration: none;
		color: #ffffff;
		margin-left: 15px;
		margin-right: 15px;
		line-height: 1.7em;
	}
	
	nav a:hover {
		text-shadow: 0 0 3px #ffffff;
	}

hr {
    width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

section {
	line-height: 1.7em;
	padding-right: 10%;
	padding-left: 10%;
	margin-top: 35px;
	margin-bottom: 35px;
	text-indent: 2em;
}
	
	#intro {
		margin-top: 50px;
	}

	section h1 {
		font: normal normal 2em/3em "AvenirNextLTProDemi", sans-serif;
		text-decoration: none;
		color: #b8333e;
	}
	
	section a {
		color: #b8333e;
		text-decoration: none;
	}
		
		section a:hover {
			text-shadow: 0 0 3px rgba(184, 50, 62, 0.3);
		}
	
	section p {
		margin-bottom: 1em;
	}
	
	#links {
		margin-bottom: 70px;
	}
	
	#buttonWrapper {
		font-size: 1em;
		text-align: center;
		text-indent: 0;
	}

footer {
	display: table;
	width: 100%;
	background-color: #484e4b;
}

	#copyright {
		display: table-cell;
		vertical-align: middle;
		height: 100px;
		padding-right: 10%;
		padding-left: 10%;
		font: 12px "AvenirNextLTProRegular", sans-serif;
	}
	
	#copyright p {
		color: #ffffff;
		line-height: 1.7em;
	}


@media screen and (max-width: 1024px) {
	#landing {
		background-attachment: scroll;
	}
}

@media screen and (max-width: 767px) {
	#landing {
		background-attachment: scroll;
		height: 450px;
	}

	#bigtitle {
		font-size: 4em;
		line-height: 1em;
	}

	hr {
	    width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	section {
		line-height: 1.5em;
		padding-left: 5%;
		padding-right: 5%;
	}
	
	section h1 {
		font-size: 1.8em;
	}
}
