div.article-wrapper p {
  margin-top: 0; }

div.article-wrapper img {
  max-height: 85vh;
  max-width: 83.33333333vw;
  width: auto;
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  margin-top: 10vh;
  margin-bottom: 10vh; }

h1.page-title {
  margin-top: 0; }
