@font-face {
    font-family: 'NeueHaasGroteskTextPro56Italic';
    src: url('nhaasgrotesktxpro-56it.eot');
    src: url('nhaasgrotesktxpro-56it.eot') format('embedded-opentype'),
         url('nhaasgrotesktxpro-56it.woff') format('woff'),
         url('nhaasgrotesktxpro-56it.ttf') format('truetype'),
         url('nhaasgrotesktxpro-56it.svg#NeueHaasGroteskTextPro56Italic') format('svg');
}
