@font-face {
    font-family: 'NeueHaasGroteskDisplayPro15UltraThin';
    src: url('nhaasgroteskdspro-15ultth.eot');
    src: url('nhaasgroteskdspro-15ultth.eot') format('embedded-opentype'),
         url('nhaasgroteskdspro-15ultth.woff') format('woff'),
         url('nhaasgroteskdspro-15ultth.ttf') format('truetype'),
         url('nhaasgroteskdspro-15ultth.svg#NeueHaasGroteskDisplayPro15UltraThin') format('svg');
}
