@font-face {
    font-family: 'NeueHaasGroteskDisplayPro75Bold';
    src: url('nhaasgroteskdspro-75bd.eot');
    src: url('nhaasgroteskdspro-75bd.eot') format('embedded-opentype'),
         url('nhaasgroteskdspro-75bd.woff') format('woff'),
         url('nhaasgroteskdspro-75bd.ttf') format('truetype'),
         url('nhaasgroteskdspro-75bd.svg#NeueHaasGroteskDisplayPro75Bold') format('svg');
}
