@font-face {
    font-family: 'NeueHaasGroteskDisplayPro55Roman';
    src: url('nhaasgroteskdspro-55rg.eot');
    src: url('nhaasgroteskdspro-55rg.eot') format('embedded-opentype'),
         url('nhaasgroteskdspro-55rg.woff') format('woff'),
         url('nhaasgroteskdspro-55rg.ttf') format('truetype'),
         url('nhaasgroteskdspro-55rg.svg#NeueHaasGroteskDisplayPro55Roman') format('svg');
}
