<footer class="container-fluid" id="footer">
  <div class="col-sm-10 col-sm-offset-2">
    <p>Written by Shuyang on a Mac; all rights reserved.<br>
        Last updated: 11/29/15; resume last updated: 08/24/15</p>
    <p><a id="_quote_block_toggle">A world without dragons is a world not worth living in.</a></p>
    <div id="_quote_block">
      <p>Frustration with how long it takes to get to know someone—spending the first few weeks chatting in their psychological entryway, with each subsequent conversation like entering a different anteroom, each a little closer to the center of the house—wishing instead that you could start there and work your way out, exchanging your deepest secrets first, before easing into casualness, until you’ve built up enough mystery over the years to ask them where they’re from, and what they do for a living.</p>
      <p><small><em>John Koenig</em></small></p>
      <p>Ultimately it comes down to taste. It comes down to trying to expose yourself to the best things that humans have done and then try to bring those things in to what you're doing.</p>
      <p><small><em>Steve Jobs</em></small></p>
      <p>He who seeks beauty will find it.</p>
      <p><small><em>Bill Cunningham</em></small></p>
      </div>
  </div>
</footer>
