<div class="container-fluid menu">
  <div class="col-sm-2 name-wordmark">
    <% if defined? header_alt_link %>
      <h1><a href="<%= header_alt_link[:link] %>" ><%= header_alt_link[:title] %></a></h1>
    <% else %>
      <h1><a href="/">Shuyang Li</a></h1>
    <% end %>
  </div>

  <div class="col-sm-2">
    <ul>
      <li><a href="/Shuyang-Li-Resume.pdf">Resume</a></li>
      <li><a href="/portfolio">Design</a></li>
      <li><a href="/photography">Photography</a></li>
    </ul>
  </div>

  <div class="col-sm-2">
    <ul>
      <li><a href="https://eats.shuyang.li">Where I eat</a></li>
      <li><a href="https://forms.gle/pYpZLfoMjt3r6tQJ8">Tell me anonymously</a></li>
    </ul>
  </div>

  <div class="col-sm-2 pull-right menu-col-right">
    <ul>
      <li><a href="#" id="_email_link">Email</a></li>
      <li class="social-media-icons">
        <a href="https://www.instagram.com/shuyangl/"><i class="fa fa-instagram"></i></a>
        <a href="https://github.com/shuyangli"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/shuyangli"><i class="fa fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid" id="menu-backdrop">

</div>
