<div class="container-fluid" id="menu">
  <div class="col-sm-2">
    <h1><a href="/" id="name-wordmark">Shuyang Li</a></h1>
  </div>

  <div class="col-sm-2">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="Shuyang-Li-Resume.pdf">Resume</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
    </ul>
  </div>

  <div class="col-sm-2 pull-right menu-col-right">
    <ul>
      <li><a href="#" id="_email_link">Email</a> <a href="assets/sli8-pubkey.asc">(pgp)</a></li>
      <li class="social-media-icons">
        <a href="https://twitter.com/shuyangl"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/shuyangl/"><i class="fa fa-instagram"></i></a>
        <a href="https://github.com/shuyangli"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/shuyangli"><i class="fa fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid" id="menu-backdrop">

</div>
