---
js: ["about"]
css: ["about"]
---

<%= partial "menu" %>

<div class="container-fluid">
  <div class="col-sm-10 col-sm-offset-2">
    <h2>Shuyang <span id="self_description"></span>.</h2>

    <p>I'm a software engineer at <a href="https://www.palantir.com">Palantir</a> with a passion in design. I want to use technology, design, and data analysis to enhance the lives of individuals, build urban communities, and improve societies.</p>

  </div>
</div>

<%= partial "footer" %>
