---
js: ["about"]
css: ["about"]
---

<%= partial "menu" %>

<div class="container-fluid">
  <div class="col-sm-10 col-sm-offset-2">
    <h2>Shuyang <span id="self_description"></span>.</h2>
    <p>I'm a staff software engineer at <a href="https://www.google.com/">Google Search</a> with a passion in design. I want to use technology, design, and data-driven decisions to enhance people's lives, build communities, and cultivate trust in societies.</p>
  </div>
</div>

<%= partial "footer" %>
