---
js: ["about"]
css: ["about"]
---

<%= partial "menu" %>

<div class="container-fluid">
  <div class="col-sm-10 col-sm-offset-2">
    <h2>Shuyang <span id="self_description"></span>.</h2>

    <p>I'm a computer science student at <a href="http://www.nd.edu">Notre Dame</a> with a passion in design. I want to use technology, design, and data analysis to enhance the lives of individuals, build communities, and improve societies.</p>

    <p>I'm joining <a href="https://www.palantir.com">Palantir</a> in 2016. Previously I was a software engineering intern at <a href="http://www.apple.com">Apple</a> for two summers.</p>

    <p>Starting with OS X Yosemite, your Mac has my voice in Chinese. You can laugh at my awkwardness by running these commands in Terminal:
      <pre>afplay "/System/Library/CoreServices/Language Chooser.app/Contents/Resources/VOInstructions-zh-Hans.m4a"</pre>
      <pre>afplay "/System/Library/PrivateFrameworks/ScreenReader.framework/Versions/A/Resources/VoiceOver Quickstart.app/Contents/Resources/VOTraining.bundle/Contents/Resources/intro-zh_CN.m4a"</pre>
    </p>

    <%#= image_tag "placeholder.jpg", :class => "inline" %>
  </div>
</div>
