---
js: ["about"]
css: ["about"]
---

<%= partial "menu" %>

<div class="container-fluid">
  <div class="col-sm-10 col-sm-offset-2">
    <h2>Shuyang <span id="self_description"></span>.</h2>
    <p>I'm a member of technical staff at <a href="https://tensorzero.com">TensorZero</a>, building open-source infrastructure that powers and continuously improves production LLM systems. Previously, I was a staff software engineer at <a href="https://www.google.com/">Google Search</a>, and a software engineer at <a href="https://www.palantir.com/">Palantir</a>.</p>
    <p>I enjoy technology, art, design, and I want to use them to enrich people's lives and build communities.</p>
  </div>
</div>

<%= partial "footer" %>
