---
js: ["about"]
css: ["about"]
---

<%= partial "menu" %>

<div class="container-fluid">
  <div class="col-sm-10 col-sm-offset-2">
    <h2>Shuyang <span id="self_description"></span>.</h2>

    <p>I'm a software engineer at <a href="https://www.palantir.com">Palantir</a> with a passion in design. I want to use technology, design, and data analysis to enhance the lives of individuals, build urban communities, and improve societies.</p>

    <p>Starting with OS X Yosemite, your Mac has my voice in Chinese. You can laugh at my awkwardness by running these commands in Terminal:
      <pre>afplay "/System/Library/CoreServices/Language Chooser.app/Contents/Resources/VOInstructions-zh-Hans.m4a"</pre>
      <pre>afplay "/System/Library/PrivateFrameworks/ScreenReader.framework/Versions/A/Resources/VoiceOver Quickstart.app/Contents/Resources/VOTraining.bundle/Contents/Resources/intro-zh_CN.m4a"</pre>
    </p>
  </div>
</div>

<%= partial "footer" %>
